[Desktop Entry]
Encoding=UTF-8
Name=MX Snapshot
Name[am]=MX የ መመልከቻ ፎቶ
Name[ca]=MX Snapshot
Name[cs]=MX Snapshot
Name[de]=MX Snapshot
Name[el]=MX Snapshot
Name[es]=MX Snapshot
Name[fr]=MX Snapshot
Name[hu]=MX pillanatkép
Name[it]=MX Snapshot
Name[ja]=MX Snapshot
Name[lt]=MX momentinė kopija
Name[nl]=MX Snapshot
Name[pt]=MX-Criar Imagens ISO
Name[ru]=MX Снимок системы
Name[sk]=MX Snapshot
Name[sv]=MX Snapshot
Comment=Create a live iso snapshot of your running system.
Comment[am]=በ ቀጥታ የ iso መመልከቻ ፎቶ መፍጠሪያ በ እርስዎ ኮምፒዩተር ላይ የሚሄደውን ስርአት
Comment[ca]=Crea una instantània ISO del sistema en execució
Comment[cs]=Vytvořte si LIVE ISO snapshot z Vašeho systému
Comment[de]=Einen bootfähigen Live .ISO Schnappschuss Ihres laufenden Systems erstellen.
Comment[el]=Δημιουργήστε μια ζωντανή ISO στιγμιότυπο της λειτουργίας του συστήματός σας.
Comment[es]=Crear una instantánea digital de su sistema activo
Comment[fr]=Créer une image .iso de votre système actuel.
Comment[hu]=Élő iso pillanatkép készítése a futó operációs rendszeredről
Comment[it]=Creare una ISO Live del tuo sistema attualmente in esecuzione
Comment[ja]=実行中システムのライブ ISO スナップショットを生成します。
Comment[nl]=Creëer een live iso snapshot van je werkende systeem
Comment[pt]=Para criar imagens ISO executáveis (do sistema em execução).
Comment[ru]=Создание снимка системы в Live-CD из работающей системы.
Comment[sk]=Vytvorte si LIVE ISO snapshot Vášho operačného systému
Comment[sv]=Skapa ett live iso snapshot av det system du kör.
Exec=su-to-root -X -c mx-snapshot
Terminal=false
Type=Application
Icon=mx-snapshot
Categories=GNOME;GTK;System;MX-Live;
NoDisplay=false

