[Desktop Entry]
Encoding=UTF-8
Name[am]=MX የ መመልከቻ ፎቶ
Name[ca]=MX Snapshot 
Name[cs]=MX Snapshot
Name[da]=MX Øjebliksbillede
Name[de]=MX Schnappschuss
Name[el]=MX Snapshot
Name[es]=MX Snapshot
Name[es_ES]=MX Snapshot
Name[fi]=MX Tilannevedos
Name[fr]=MX Instantané - MX Snapshot
Name[fr_BE]=MX Instantané - MX Snapshot
Name[gl_ES]=MX-Capturas ISO
Name[he_IL]=תמונות מערכת MX
Name[hi]=एमएक्स स्नैपशॉट
Name[hu]=MX pillanatkép
Name[it]=MX Snapshot
Name[ja]=MX スナップショット
Name[lt]=MX momentinė kopija
Name[nb]=MX ISO-bilde
Name[nl]=MX Snapshot
Name[nl_BE]=MX Snapshot
Name[pl]=MX Zrzut systemu
Name[pt]=MX-Criar Imagem ISO
Name[pt_BR]=Snapshot do MX - Criador de Imagem ISO do Sistema Operacional
Name[ru]=MX Снимок системы
Name[sk]=MX Snapshot
Name[sl]=MX posnetek
Name[sq]=Fotografim MX Sistemi
Name[sv]=MX Snapshot
Name[tr]=MX Sistem Anlık Görüntüsü
Name[zh_CN]=MX Snapshot
Name[zh_TW]=MX 快照
Name=MX Snapshot
Comment[am]=በ ቀጥታ የ iso መመልከቻ ፎቶ መፍጠሪያ በ እርስዎ ኮምፒዩተር ላይ የሚሄደውን ስርአት
Comment[ca]=Crea una instantània ISO del sistema en execució
Comment[cs]=Vytvořte si LIVE ISO snapshot z Vašeho systému
Comment[da]=Opret et live-iso-øjeblikebillede af dit kørende system.
Comment[de]=Erzeugen eines Schnappschusses Ihres laufenden Systems als bootfähige Live-ISO
Comment[el]=Δημιουργήστε μια ζωντανή ISO στιγμιότυπο της λειτουργίας του συστήματός σας.
Comment[es]=Crear una instantánea digital de su sistema activo
Comment[fr]=Créer une image .iso de votre système actuel.
Comment[hu]=Élő iso pillanatkép készítése a futó operációs rendszeredről
Comment[it]=Creare una ISO Live del tuo sistema attualmente in esecuzione
Comment[ja]=実行中システムのライブ ISO スナップショットを生成します。
Comment[nl]=Creëer een live iso snapshot van je werkende systeem
Comment[pl]=Utwórz obraz ISO aktualnie uruchomionego systemu.
Comment[pt]=Criar imagem ISO do sistema em execução; quando instalada num meio externo (CD/DVD/USB) é executável directamente [mx-snapshot]
Comment[pt_BR]=Criar imagem ISO (do sistema em execução), executável quando instalada em CD/DVD/USB [mx-snapshot]
Comment[ru]=Создание снимка системы в Live-CD из работающей системы.
Comment[sk]=Vytvorte si LIVE ISO snapshot Vášho operačného systému
Comment[sl]=Ustvari živ iso posnetek zagnanega sistema
Comment[sv]=Skapa ett live iso snapshot av det system du kör.
Comment[tr]=Çalışmakta olan sisteminizin bir canlı iso kalıbını oluşturun
Comment[zh_TW]=將本電腦上正在運行的系統做成現場版映像檔
Comment=Create a live iso snapshot of your running system.
Exec=mx-snapshot-launcher
Terminal=false
Type=Application
Icon=mx-snapshot
Categories=GNOME;GTK;System;MX-Live;
NoDisplay=false

