[Desktop Entry]
Encoding=UTF-8
Name[am]=MX የ መመልከቻ ፎቶ
Name[ca]=MX Snapshot 
Name[cs]=MX Snapshot
Name[da]=MX Øjebliksbillede
Name[de]=MX-Schnappschuss
Name[el]=MX Στιγμιότυπο συστήματος
Name[es]=MX Snapshot
Name[es_ES]=MX Snapshot
Name[fi]=MX Tilannevedos
Name[fr]=MX Instantané - MX Snapshot
Name[fr_BE]=MX Instantané - MX Snapshot
Name[gl_ES]=MX-Capturas ISO
Name[he_IL]=תמונות מערכת MX
Name[hi]=एमएक्स स्नैपशॉट
Name[hu]=MX pillanatkép
Name[it]=MX Snapshot
Name[ja]=MX スナップショット
Name[lt]=MX momentinė kopija
Name[nb]=MX ISO-bilde
Name[nl]=MX Snapshot
Name[nl_BE]=MX Snapshot
Name[pl]=MX Zrzut systemu
Name[pt]=MX-Criar Imagem ISO
Name[pt_BR]=Snapshot do MX - Criador de Imagem ISO do Sistema Operacional
Name[ru]=MX Снимок системы
Name[ru_RU]=MX Снимок системы
Name[sk]=MX Snapshot
Name[sl]=MX posnetek
Name[sq]=Fotografim MX Sistemi
Name[sv]=MX Snapshot
Name[tr]=MX Sistem Anlık Görüntüsü
Name[zh_CN]=MX Snapshot
Name[zh_HK]=MX 快照
Name[zh_TW]=MX 快照
Name=MX Snapshot
Comment[af]=Skep 'n lewendige iso-snapshot van jou lopende stelsel.
Comment[am]=በ ቀጥታ የ iso መመልከቻ ፎቶ መፍጠሪያ በ እርስዎ ኮምፒዩተር ላይ የሚሄደውን ስርአት
Comment[ar]=.ﻚﺑ ﺹﺎﺨﻟﺍ ﻞﻴﻐﺸﺘﻟﺍ ﻡﺎﻈﻨﻟ ﺔﻴﺣ iso ﺔﻄﻘﻟ ءﺎﺸﻧﺈﺑ ﻢﻗ
Comment[be]=Стварыце жывы iso-здымак вашай запушчанай сістэмы.
Comment[bg]=Създава live iso snapshot на системата ви
Comment[bn]=আপনার চলমান সিস্টেমের একটি লাইভ আইএসও স্ন্যাপশট তৈরি করুন।
Comment[bs]=Kreirajte live iso snimak vašeg sistema koji radi.
Comment[ca]=Crea una instantània ISO del sistema en execució
Comment[ceb]=Paghimo og live iso snapshot sa imong running system.
Comment[co]=Crea un snapshot iso live di u vostru sistema in esecuzione.
Comment[cs]=Vytvořte si LIVE ISO snapshot z Vašeho systému
Comment[cy]=Creu ciplun iso byw o'ch system redeg.
Comment[da]=Opret et live-iso-øjeblikebillede af dit kørende system.
Comment[de]=Einen Schnappschuss Ihres laufenden Systems als bootfähige Live-ISO erzeugen.
Comment[el]=Δημιουργία στιγμιότυπου του συστήματος σας σε μορφή live iso.
Comment[eo]=Kreu vivan iso-foton de via funkcianta sistemo.
Comment[es]=Crear imagen live de su sistema activo.
Comment[es_ES]=Crea una instantánea iso en vivo de su sistema en funcionamiento.
Comment[et]=Looge oma töötavast süsteemist reaalajas iso-hetktõmmis.
Comment[eu]=Sortu exekutatzen ari den sistemaren ISO zuzeneko argazki bat.
Comment[fa]=.ﺪﯿﻨﮐ ﺩﺎﺠﯾﺍ ﺩﻮﺧ ﺍﺮﺟﺍ ﻝﺎﺣ ﺭﺩ ﻢﺘﺴﯿﺳ ﺯﺍ ﻩﺪﻧﺯ iso ﯼﺭﻮﻓ ﺲﮑﻋ ﮏﯾ
Comment[fi]=Luo elävä iso-vedos käynnissä olevasta järjestelmästäsi.
Comment[fil]=Gumawa ng live na iso snapshot ng iyong tumatakbong system.
Comment[fr]=Créer une image .iso de votre système actuel.
Comment[fr_BE]=Créer une image .iso de votre système actuel.
Comment[fy]=Meitsje in live iso-snapshot fan jo rinnende systeem.
Comment[ga]=Cruthaigh léargas beo iso ar do chóras reatha.
Comment[gd]=Cruthaich dealbh beò iso den t-siostam ruith agad.
Comment[gl]=Crea unha instantánea iso en directo do teu sistema en execución.
Comment[gu]=તમારી ચાલી રહેલ સિસ્ટમનો લાઇવ આઇસો સ્નેપશોટ બનાવો.
Comment[ha]=Ƙirƙiri hoton iso kai tsaye na tsarin tafiyarku.
Comment[haw]=E hana i kahi snapshot iso ola o kāu ʻōnaehana holo.
Comment[he]=.ךלש הלעפהה תכרעמ לש היח וזיא בצמ תנומת רוצ
Comment[he_IL]=יצירת ISO תמונת מצב להמחשת המערכת הפעילה שלך.
Comment[hi]=अपने चल रहे सिस्टम का एक लाइव आईएसओ स्नैपशॉट बनाएं।
Comment[hr]=Napravite iso snimak uživo vašeg pokrenutog sustava.
Comment[ht]=Kreye yon snapshot iso vivan nan sistèm kouri ou a.
Comment[hu]=Élő iso pillanatkép készítése a futó operációs rendszeredről
Comment[hy]=Ստեղծեք ձեր գործող համակարգի ուղիղ iso նկարը:
Comment[id]=Buat snapshot iso langsung dari sistem Anda yang sedang berjalan.
Comment[is]=Búðu til lifandi iso skyndimynd af hlaupakerfinu þínu.
Comment[it]=Creare una ISO Live del tuo sistema attualmente in esecuzione
Comment[ja]=稼働しているシステムを丸ごとコピーしたライブ ISO を作成します。
Comment[jv]=Nggawe snapshot iso urip saka sistem mlaku.
Comment[ka]=შექმენით თქვენი გაშვებული სისტემის ცოცხალი iso სნეპშოტი.
Comment[kk]=Жұмыс істеп тұрған жүйенің тікелей iso суретін жасаңыз.
Comment[km]=បង្កើតរូបភាព iso ផ្ទាល់នៃប្រព័ន្ធដែលកំពុងដំណើរការរបស់អ្នក។
Comment[kn]=ನಿಮ್ಮ ಚಾಲನೆಯಲ್ಲಿರುವ ಸಿಸ್ಟಮ್u200cನ ಲೈವ್ ಐಸೊ ಸ್ನ್ಯಾಪ್u200cಶಾಟ್ ಅನ್ನು ರಚಿಸಿ.
Comment[ko]=실행 중인 시스템의 라이브 ISO 스냅샷을 만듭니다.
Comment[ku]=Wêneyek iso-ya zindî ya pergala xweya xebitandinê biafirînin.
Comment[ky]=Иштеп жаткан тутумуңуздун жандуу iso сүрөтүн түзүңүз.
Comment[lb]=Erstellt e Live ISO Snapshot vun Ärem lafende System.
Comment[lo]=ສ້າງພາບຖ່າຍ iso ສົດຂອງລະບົບແລ່ນຂອງທ່ານ.
Comment[lt]=Sukurkite tiesioginę veikiančios sistemos „iso“ momentinę kopiją.
Comment[lv]=Izveidojiet savas darbības sistēmas reāllaika ISO momentuzņēmumu.
Comment[mg]=Mamorona sary iso mivantana amin'ny rafitrao mandeha.
Comment[mi]=Waihangahia he whakaahua iso ora o to punaha whakahaere.
Comment[mk]=Направете слика во живо на ISO од вашиот систем што работи.
Comment[ml]=നിങ്ങളുടെ പ്രവർത്തിക്കുന്ന സിസ്റ്റത്തിന്റെ ഒരു തത്സമയ ഐഎസ്ഒ സ്നാപ്പ്ഷോട്ട് സൃഷ്ടിക്കുക.
Comment[mn]=Өөрийн ажиллаж байгаа системийн шууд iso хормын хувилбарыг үүсгээрэй.
Comment[mr]=तुमच्या रनिंग सिस्टमचा लाईव्ह आयएसओ स्नॅपशॉट तयार करा.
Comment[ms]=Cipta gambar iso langsung sistem anda yang sedang berjalan.
Comment[mt]=Oħloq stampa iso live tas-sistema tat-tħaddim tiegħek.
Comment[my]=သင်၏လည်ပတ်နေသောစနစ်၏ တိုက်ရိုက် iso ဓာတ်ပုံတစ်ပုံကို ဖန်တီးပါ။
Comment[nb]=Opprett et live ISO-bilde av det kjørende systemet
Comment[ne]=तपाईंको चलिरहेको प्रणालीको लाइभ आईएसओ स्न्यापसट सिर्जना गर्नुहोस्।
Comment[nl]=Creëer een live iso snapshot van je werkende systeem
Comment[ny]=Pangani chithunzi chamoyo cha iso pamakina anu othamanga.
Comment[or]=ଆପଣଙ୍କର ଚାଲୁଥିବା ସିଷ୍ଟମର ଏକ ଲାଇଭ୍ ଆଇସୋ ସ୍ନାପସଟ୍ ସୃଷ୍ଟି କରନ୍ତୁ |
Comment[pa]=ਆਪਣੇ ਚੱਲ ਰਹੇ ਸਿਸਟਮ ਦਾ ਲਾਈਵ ਆਈਐਸਓ ਸਨੈਪਸ਼ਾਟ ਬਣਾਓ।
Comment[pl]=Utwórz obraz ISO aktualnie uruchomionego systemu.
Comment[ps]=.ﺉړﮐ ړﻮﺟ ټﺎﺷ ﭗﯿﻨﺳ iso ﯼﺪﻧﻭﮊ ﻢټﺴﯿﺳ ﻲﮑﻧﻮﻠﭼ ﻞﭙﺧ ﺩ
Comment[pt]=Criar imagem ISO do sistema em execução; quando instalada num meio externo (CD/DVD/USB) é executável directamente [mx-snapshot]
Comment[pt_BR]=Crie imagem ISO do sistema operacional em execução, podendo ser executada a partir de um meio externo CD/DVD/USB
Comment[ro]=Creați un instantaneu ISO live al sistemului dvs. care rulează.
Comment[ru]=Создание снимка системы в Live-CD из работающей системы.
Comment[ru_RU]=Создайте Live-CD снимок вашей работающей системы.
Comment[rw]=Kora iso nzima ishusho ya sisitemu yawe ikora.
Comment[sd]=.ﻮﻴﻫﺎﭠ ٽﺎﺷ ﭗﻴﻨﺳ ISO ﻮﻴﺋﻻ﻿ ڪﻫ ﻮﺟ ﻢٽﺴﺳ ڙﺪﻨﻠﻫ ﻲﺟ ﻥﺎﻫﻮﺗ
Comment[si]=ඔබගේ ධාවන පද්ධතියේ සජීවී iso සැණරුවක් සාදන්න.
Comment[sk]=Vytvorte si LIVE ISO snapshot Vášho operačného systému
Comment[sl]=Ustvari živ iso posnetek zagnanega sistema
Comment[sm]=Fausia se ata fa'aiso ola o lau faiga fa'aoga.
Comment[sn]=Gadzira mhenyu iso snapshot yeako ekumhanya system.
Comment[so]=Samee sawirka tooska ah ee nidaamkaaga orodka.
Comment[sq]=Krijoni një fotografim të sistemit që xhironi, për të krijuar një iso instalimi sistemi “live”.
Comment[sr]=Направите исо снимак уживо вашег система који ради.
Comment[st]=Theha senepe sa iso sa sistimi ea hau e sebetsang.
Comment[su]=Jieun snapshot iso hirup tina sistem Anjeun ngajalankeun.
Comment[sv]=Skapa ett live iso snapshot av det system du kör.
Comment[sw]=Unda picha ya moja kwa moja ya iso ya mfumo wako unaoendesha.
Comment[ta]=உங்கள் இயங்கும் அமைப்பின் நேரடி ஐசோ ஸ்னாப்ஷாட்டை உருவாக்கவும்.
Comment[te]=మీ నడుస్తున్న సిస్టమ్ యొక్క ప్రత్యక్ష ఐసో స్నాప్u200cషాట్u200cను సృష్టించండి.
Comment[tg]=Як акси зиндаи iso-и системаи иҷрокунандаи худро эҷод кунед.
Comment[th]=สร้างสแน็ปช็อต iso สดของระบบที่ทำงานอยู่ของคุณ
Comment[tk]=Işleýän ulgamyňyzyň göni ýaýlymyny dörediň.
Comment[tr]=Çalışmakta olan sisteminizin bir canlı iso kalıbını oluşturun
Comment[tt]=Сезнең йөгерү системасының тере изо скриншотын ясагыз.
Comment[ug]=.ﯔﯩﻠﯩﻗ ﻞﯩﺳﺎﮬ ﻰﻨﯩﺘﯨﺭﯜﺳ iso ﻥﺍﺪﻳەﻣ ﻕەﻧ ﯔﯩﻧﺰﯩﯖﯩﻤﯧﺘﺴﯩﺳ ﺍﺮﺠﯩﺋ
Comment[uk]=Створіть живий знімок ISO вашої запущеної системи.
Comment[ur]=۔ﮟﯿﺋﺎﻨﺑ ﭦﺎﺷ ﭗﯿﻨﺳﺍ ﻭﺍ ﺲﯾﺍ ﯽﺋﺁ ﻮﯿﺋﻻ﻿ ﺎﮐ ﻢﭩﺴﺳ ﮯﻟﺍﻭ ﮯﻧﻼ﻿ﭼ ﮯﻨﭘﺍ
Comment[uz]=Ishlayotgan tizimingizning jonli iso suratini yarating.
Comment[vi]=Tạo một ảnh chụp nhanh iso trực tiếp của hệ thống đang chạy của bạn.
Comment[xh]=Yenza umfanekiso okhawulezayo we-iso wenkqubo yakho esebenzayo.
Comment[yi]=.םעטסיס קידנסילפ ןייד ןופ דליבטנעמאָמ אָסי ןבעל אַ ןפֿאַש
Comment[yo]=Ṣẹda aworan iso ifiwe ti eto ṣiṣe rẹ.
Comment[zh_CN]=创建当前系统的ISO快照。
Comment[zh_HK]=將本電腦上正在運行的系統做成現場版映像檔
Comment[zh_TW]=將本電腦上正在運行的系統做成現場版映像檔
Comment=Create a live iso snapshot of your running system.
Exec=mx-snapshot
Terminal=false
Type=Application
Icon=mx-snapshot
Categories=GNOME;GTK;System;MX-Live;
NoDisplay=false

