Source: mx-snapshot
Section: admin
Priority: optional
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Build-Depends: qt5-qmake,
	qt5-default,
	qttools5-dev-tools,
	debhelper (>=7.0.50~)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/AdrianTM/mx-snapshot

Package: mx-snapshot
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mx-viewer, squashfs-tools, syslinux-utils, iso-template (>= 16.1mx15) | mx-iso-template, xorriso (>= 1.4.6), mx-remaster
Description: MX Snapshot
 MX Snapshot is a tool used for creating a live-CD from the running system.
